
<header>
  <img id="beerIcon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/166485-200.png" alt="">
  <nav class="header-nav">
    <ul>
      <li><a href="#/addBeer">[+]</a></li>
      <li><a href="#/beers">Beers</a></li>
      <li><a href="#/">Home</a></li>
    </ul>
  </nav>
</header>

<h1 class="addBeerTitle">Add your favorite beer!</h1>

<div class="addBeerDiv">
  <form class="" action="index.html" method="post">
    <input type="text" class="form-control" name="photo" ng-model="newBeer.photo" placeholder="Beer Photo" value="">
    <input type="text" class="form-control" name="name" ng-model="newBeer.name" placeholder="Name" value="">
    <input type="text" class="form-control" name="brewery" ng-model="newBeer.brewery" placeholder="Brewery" value="">
    <input type="text" class="form-control" ng-model="newBeer.type" name="type" placeholder="Type" value="">
    <input type="text" class="form-control" name="Description" ng-model="newBeer.description" placeholder="Description" value="">
    <button type="button" ng-click="addBeer(newBeer)" name="button">Add Beer</button>
  </form>
</div>

<footer>
  <img id="footerBeerIcon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/166485-200.png" alt="">
</footer>
