<header>
  <img id="beerIcon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/166485-200.png" alt="">
  <nav class="header-nav">
    <ul>
      <li><a href="#/addBeer">[+]</a></li>
      <li><a href="#/beers">Beers</a></li>
      <li><a href="#/">Home</a></li>
    </ul>
  </nav>
</header>

<h1 class="listPageTitle">Beer Bin</h1>

<div class="beerDiv" ng-repeat="beer in myBeers">
  <img ng-src="{{beer.photo}}" alt="" />
  <h3><span class="titleSpan">{{beer.name}}</span></h3>
  <h4>{{beer.brewery}}</h4>
  <h4>Type: {{beer.type}}</h4>
  <p class="beerDescription">Description: {{beer.description}}</p>
</div>
